@keyframes logoLoading {
    0% {
        top: 13px;
        left: 35px;
    }
    33% {
        top: 70px;
        left: 0px;
        background-color: #f00;
    }
    66% {
        top: 70px;
        left: 70px;
        background-color: #0f0;
    }
    100% {
        top: 13px;
        left: 35px;
        background-color: #00f;
    }
}

div#logo_container {
    width: 100px;
    height: 100px;
    display: flex;
    position: absolute;
    top: 25%;
    left: calc(50% - 50px);
    div.logo_circle {
        width: 30px;
        height: 30px;
        position: inherit;
        border-radius: 50%;
        background-color: #777;
        &#circle1 {
            animation: logoLoading 1.5s ease -1.0s infinite;
        }
        &#circle2 {
            animation: logoLoading 1.5s ease -0.5s infinite;
        }
        &#circle3 {
            animation: logoLoading 1.5s ease 0s infinite;
        }
    }
}